<header>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal">Task management system</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <span class="p-2 text-dark" ><%= link_to "Sign Up", signup_path, class: "btn btn-outline-primary" %></span>
      <span class="p-2 text-dark" ><%= link_to "Sign In", signin_path, class: "btn btn-outline-primary" %></span>
      <span class="p-2 text-dark" ><%= link_to "Sign Out", signout_path, class: " btn btn-outline-primary" %></span>
    </nav>
</div>
</header>
<h2>Ğ¡reate your new task</h2>
<div class="col-md-6">
<%= simple_form_for @task do |f| %>
  <p><%= f.input :title %></p>
  <p><%= f.input :description %></p>
  <p><%= f.select :priority, Task::PRIORITIES %></p>
  <p><%= f.date_field :due_date, min: Date.today %></p>
  <p><%= f.input :completed %></p>
  <p class="btn btn-success"><%= f.button :submit %></p>
<% end %>
</div>