<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal">Task management system</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <span class="p-2 text-dark" ><%= link_to "Sign Up", signup_path, class: "btn btn-outline-primary" %></span>
        <span class="p-2 text-dark" ><%= link_to "Sign In", signin_path, class: "btn btn-outline-primary" %></span>
        <span class="p-2 text-dark" ><%= link_to "Sign Out", signout_path, class: " btn btn-outline-primary" %></span>
      </nav>
</div>

<%= render 'form', user: @user %>
<div class= 'btn btn-light'>
<%= link_to 'Show', @user  %> </div>