<p id="notice"><%= notice %></p>
<div class="alert alert-primary" role="alert">
  <table>
  	<tr>
  		<td><strong>First name:</strong><%= @user.first_name %></td>
  	</tr>
  	<tr>
      <td><strong>Last name:</strong><%= @user.last_name %></td>
    </tr>
    <tr>
      <td><strong>Email:</strong><%= @user.email %></td>
    </tr>
  </table>
<%= link_to 'Edit', edit_user_path(@user), class: "btn btn-info" %> 
<%= link_to 'Create user', tasks_path, class: "btn btn-success" %>
</div>

